@media (hover: hover) and (pointer: fine) {
  .image-gallery-icon:hover {
    color: #9be3de;
  }
}

.image-gallery-bullets .image-gallery-bullet:focus {
  background: #9be3de;
  border: 1px solid #9be3de;
}
@media (hover: hover) and (pointer: fine) {
  .image-gallery-bullets .image-gallery-bullet:hover {
    background: #9be3de;
    border: 1px solid #9be3de;
  }
  .image-gallery-bullets .image-gallery-bullet.active:hover {
    background: #9be3de;
  }
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border: 4px solid #9be3de;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail.active,
  .image-gallery-thumbnail:focus {
    border: 3px solid #9be3de;
  }
}
@media (hover: hover) and (pointer: fine) {
  .image-gallery-thumbnail:hover {
    outline: none;
    border: 4px solid #9be3de;
  }
}
@media (hover: hover) and (pointer: fine) and (max-width: 768px) {
  .image-gallery-thumbnail:hover {
    border: 3px solid #9be3de;
  }
}
